*{
    margin: 0;
}
#body{
    width: 1366px;
    height: 94px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #7B7B7B29;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 1368px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
}
.task{
    height:54;
    width:1366;
    text-align:left;
    font: normal normal;
    font-size:x-large;
    font-family: arial;
    opacity: 1;
    background-color:white;
    margin:0px;
    padding:15px 500px 15px 55px ;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #7B7B7B29;
    opacity: 1;
}
i{
    top: 142px;
    left: 800px;
    width: 30px;
    height: 26px;
    text-align:center;
    padding-top: 10px;
    color: #00A5EC;
    font-size: xx-large;
    opacity: 1; 
}
.back{
    margin-left: 320px;
    position: relative;
    top: 55px;
    color:#424242;
    font-size: x-large;
    opacity: 1;
}
.add{
    top: 142px;
    left: 1076px;
    width: 1230px;
    height: 26px;
    padding-top: 10px;
    text-align:center;
    font: normal normal normal 22px/26px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;
}
.container{
    display: grid;
    grid-template-columns: auto ;
    justify-content: space-around;
    height:700px;
    width:1000px;
    margin-top: 130px;
    cursor:auto;
}
.container:hover{
    color: #424242;
}
.ch1{
    text-align: center;
    font-size: x-large;
}
.child1{
    top: 220px;
    left: 139px;
    width: 352px;
    height: 360px;
    color:#00A5EC;
    font-size: larger;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED ;
    border-radius: 10px;
    padding: 10px;
    margin-right: 0px;
    margin-left: 10px;
    opacity: 1;
}
.c1{
    text-decoration: line-through;
    color: #C2C2C2;
}
.c1,.c2{
    margin: 40px 50px 40px 20px;
}